<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>travel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterUserServlet</display-name>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>com.yun.travel.web.servlet.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/registerUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveUserServlet</display-name>
    <servlet-name>ActiveUserServlet</servlet-name>
    <servlet-class>com.yun.travel.web.servlet.ActiveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveUserServlet</servlet-name>
    <url-pattern>/ActiveUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUserServlet</display-name>
    <servlet-name>LoginUserServlet</servlet-name>
    <servlet-class>com.yun.travel.web.servlet.LoginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserServlet</servlet-name>
    <url-pattern>/loginUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserServlet</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>com.yun.travel.web.servlet.FindUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/findUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.yun.travel.web.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/exitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.yun.travel.web.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.yun.travel.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.yun.travel.web.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/category/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteServlet</display-name>
    <servlet-name>RouteServlet</servlet-name>
    <servlet-class>com.yun.travel.web.servlet.RouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteServlet</servlet-name>
    <url-pattern>/route/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavoriteServlet</display-name>
    <servlet-name>FavoriteServlet</servlet-name>
    <servlet-class>com.yun.travel.web.servlet.FavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoriteServlet</servlet-name>
    <url-pattern>/favorite/*</url-pattern>
  </servlet-mapping>
</web-app>